ul {
  list-style: none;
  margin-left: 0;
  padding: 0;
}

li {
  font-size: 25px;
  line-height: 1.5;
}

li.buy {
  text-decoration: line-through;
}

button {
  background: #77529e;
  border: none;
  border-radius: 4px;
  color: #fafafa;
  font-family: "Playwrite AT", cursive;
  font-size: 23px;
  font-weight: 500;
  width: 120px;
  margin: 5px 0px 5px 30px;
}

.searchInput {
  border: solid 2px #77529e;
  border-radius: 4px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  font-family: "Playwrite AT", cursive;
  font-size: 23px;
  font-weight: 500;
  margin-right: 10px;
  width: 500px;
}

.searchButton {
  background: #77529e;
  border: none;
  border-radius: 4px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  color: #fafafa;
  font-family: "Playwrite AT", cursive;
  font-size: 23px;
  font-weight: 500;
  width: 100px;
}

.searchButton:hover {
  background: #fafafa;
  border: solid 4px #77529e;
  color: #77529e;
}

@media (max-width: 600px) {
  .searchInput {
    margin-right: 5px;
    width: 220px;
  }
}
